html * {
    margin: 0;
    padding: 0;
}

#container {
    margin-left: 10px;
    width: 70%; 
}

#toggleStyle {
    margin: 25px 0;
}

#toggleStyle button {
    margin: 5px 15px;
}

li {
    display: inline-block;
    margin-right: 35px;
}

.category {
    margin: 20px 0;
}

.sec {
    margin: 15px 0;
}