html * {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Montserrat Light;
    src: url('../font/Montserrat-Light.otf')
}

@font-face {
    font-family: Montserrat Light;
    src: url('../font/Montserrat ExtraLight.ttf');
    font-weight: 100;
}

body {
    min-width: 1200px;
    font-family: Montserrat Light, sans-serif;
    color: #141414;
}

h1,h2,h3,h4 {
    font-weight: normal;
}

input,
button,
textarea {
    font-family: Montserrat Light, sans-serif;
}

li {
    list-style-type: none;
}

.center-text {
    text-align: center;
}

/* 一、header */

header {
    width: 100%;
    height: 990px;
    background-image: url(../img/website/header-fg.png), url(../img/website/heaer-bg.png);
    background-size: cover;
    color: #fff;
}

/* 1.rules */

.rules {       
    width: 770px;
    margin: 0 auto;
    padding-top: 210px;
}

.rules-detail h1 {
    font-size: 62px;
    text-align: center;
    font-weight: 100;
    margin-bottom: 80px;
}

.rules-detail h4 {
    font-size: 20px;
    font-weight: 100;
    opacity: .7;
}

/* 2.register */

.register {
    width: 970px;
    height: 250px;
    margin: 0 auto;
    border: 1px solid #ccc;    
    margin-top: 100px;
}

.register h3 {
    font-size: 16px;
    margin-top: 55px;
}

.register h4 {
    font-size: 12px;
    margin-top: 20px;
    opacity: .3;
}

.inputfield {
    text-align: center;
}

.inputfield input {
    display: inline-block;
    width: 295px;
    height: 50px;
    border: 1px solid #ccc;
    background-color: transparent;
    margin: 50px 15px;
    font-size: 14px;
    padding-left: 20px;
    color: inherit;
}

.inputfield input:last-child {
    width: 125px;
    height: 50px;
    background-color: #fff;
    padding-left: 0;
    color: #141414;
}



/* 二、intro */

.intro {
    width: 1100px;
    height: 710px;
    margin: 0 auto;
}

/* 1.hgroup */

.intro .center-text h3 {
    font-size: 14px;
    padding-top: 90px;
    letter-spacing: 3px;
}

.intro .center-text h1 {
    font-size: 42px;
    text-align: center;
    font-weight: 100;  
}

.intro .center-text h1:nth-child(2) {
    margin-top: 55px;
}

/* 2.advantage */

.advantage {
    width: 100%;
    margin-top: 90px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.advantage li {
    width: 450px;
    height: 125px;  
    margin-bottom: 90px;
}

.advantage figure {
    overflow: hidden;
}

.advantage img {
    float: left;
    position: relative;
    top: 2px;
}

.advantage figcaption {
    width: 370px;
    float: left;
    margin-left: 30px;
}

.advantage figcaption h3 {
    margin-bottom: 20px;
}

.advantage figcaption p {
    line-height: 1.8;
    font-weight: 100;
    opacity: .7;
}

.iphone img {
    left: 18px;
}

.iphone figcaption {
    padding-left: 20px;
}

.check img {
    left: 8px;
}

.check figcaption {
    padding-left: 8px;
}


/* 三、policy */

.policy {
    background-image: url(../img/website/middle-fg.png), url(../img/website/middle-bg.png);
    background-size: cover;
    width: 100%;    
    margin-top: 100px;
    color: #fff;
}

.policy-container {
    width: 1600px;
    height: 800px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* 1.left */

.left {
    width: 525px;
    position: relative;
    left: 317px;
    font-weight: 100;
}

.detail-text {
    width: 400px;
}

.detail-text h2 {
    font-size: 42px;
    margin-bottom: 45px;
    font-weight: 100;
}

.detail-text p {
    font-size: 18px;
    margin-bottom: 60px;
    opacity: .7;
    line-height: 1.6;
}

.check-try {
    width: 525px;
}

.check-try button {
    width: 240px;
    height: 60px;
    border: 1px solid #ccc;
    font-size: 12px;
    letter-spacing: 1px;
}

.check-try button:first-child {
    background-color: #fff;
    color: #141414;
    margin-right: 30px;
}

.check-try button:last-child {
    background-color: transparent;
    color: inherit;
}

/* 2.right */

.right {
    width: 645px;
    height: 600px;
}


/* 四、trial */

.trial { 
    width: 1000px;
    height: 580px;
    margin: 0 auto;
    margin-top: 100px;
    font-weight: 100;
}

.trial > h1 {
    font-size: 42px;
    font-weight: 100;
}

.saying {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 76px;
}

.saying li {
    width: 256px;
    height: 280px;
}

.saying li p {
    margin-top: 33px;
    font-size: 16px;
    line-height: 1.8;
    opacity: .7;
}


/* 五、learn-choose */

.learn-choose {
    width: 1000px;
    height: 900px;
    margin: 0 auto;
    font-weight: 100;
}

.learn-choose > div {
    overflow: hidden;
}

.learn-choose .image {
    width: 570px;
    height: 350px;
}

.learn-choose .text {
    width: 310px;
    height: 232px;
    margin-top: 70px;
    line-height: 1.6em;    
}

.learn-choose h3 {
    font-size: 20px;
    margin-bottom: 35px;
}

.learn-choose p {
    font-size: 16px;
    opacity: .7;
}

/* 1.leaf */

.leaf .image {
    background-image: url(../img/website/leaf.png);
    background-position: center;
    float: left;
    border-radius: 2px;
}

.leaf .text {
    float: right;
    margin-right: 10px;
}

/* 2.bird */

.bird {    
    margin-top: 80px;
}

.bird .text {
    float: left;
}

.bird .image {
    background-image: url(../img/website/bird.png);
    background-position: center;
    float: right;
    border-radius: 2px;
}


/* 六、crew */

.crew {
    width: 970px;
    height: 885px;
    margin: 0 auto;
}

.crew > hgroup {
    width: 700px;
    margin: 0 auto;
}

.crew > hgroup h1 {
    font-size: 42px;
    margin-bottom: 35px;
    font-weight: 100;
}

.crew > hgroup h3 {   
    font-size: 18px;
    font-weight: 100;
    opacity: .7;
}

/* crew-pic */

.crew-pic {
    margin-top: 70px;
}

.crew-pic figure {    
    width: 470px;
    height: 340px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.crew-info {
    width: 270px;
    height: 150px;
    opacity: 0;
}

.crew-info hgroup {
    width: 250px;
    margin-bottom: 30px;
    color: #fff;
}

.crew-info h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.crew-info h3 {
    font-size: 12px;    
}

.crew-contact li {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    margin: 0 15px;
}

.crew1 {
    margin-right: 20px;
    margin-bottom: 30px;
    background: url(../img/website/crew1.png) no-repeat center;
}

.crew2 {
    margin-bottom: 30px;
    background: url(../img/website/crew2.png) no-repeat center;
}

.crew3 {
    margin-right: 20px;
    background: url(../img/website/crew3.png) no-repeat center;
}

.crew4 {
    background: url(../img/website/crew4.png) no-repeat center;
}

/* hover effects */

.crew-pic figure:hover > .crew-info {
    opacity: 1;  /* 'opacity' instead of 'display' */
}

.crew-pic .crew1:hover {
    background-image: url(../img/website/crew-fg.png), url(../img/website/crew1.png);
}

.crew-pic .crew2:hover {
    background-image: url(../img/website/crew-fg.png), url(../img/website/crew2.png);
}

.crew-pic .crew3:hover {
    background-image: url(../img/website/crew-fg.png), url(../img/website/crew3.png);
}

.crew-pic .crew4:hover {
    background-image: url(../img/website/crew-fg.png), url(../img/website/crew4.png);
}


/* 七、social */

.social {
    width: 920px;
    margin: 200px auto;
    display: flex;
    align-items: center;
}

/* 1.email */

.email {
    width: 470px;
    height: 560px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email > h3 {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 16px;
    letter-spacing: 2px;
}

.email input:nth-child(2),
.email input:nth-child(3) {
    width: 350px;
    height: 50px;
    border: 1px solid #ccc;
    margin-bottom: 32px;
    font-size: 14px;
    letter-spacing: 1px;
    padding-left: 20px;
    opacity: .5;
}

.email :nth-child(4) {
    width: 350px;
    height: 125px;
    border: 1px solid #ccc;
    margin-bottom: 32px;
    font-size: 14px;
    letter-spacing: 1px;
    padding-left: 20px;
    padding-top: 20px;
    opacity: .5;
}

.email input:nth-child(5) {
    width: 370px;
    height: 50px;
    background-color: #000;
    color: #fff;
    margin-bottom: 70px;
    font-size: 12px;
}

/* 2.contacts */

.contacts {
    width: 360px;
    margin-left: 130px;
}

.contacts h1 {
    font-size: 42px;
    font-weight: 100;
}

.contacts > p {
    font-size: 16px;
    line-height: 2em;
    margin-top: 40px;
    margin-bottom: 65px;
    font-weight: 100;
    opacity: .7;
}

.contact-detail li {
    overflow: hidden;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.contact-detail img {
    margin-right: 20px;
}

.contact-detail p {
    font-size: 16px;
    line-height: 1.8em;
}


/* 八、footer */

footer {
    width: 100%; 
    background-color: #000;
    color: #fff;
    padding-top: 80px;
    padding-bottom: 120px;
    font-weight: 100;
}

.footer-container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-column {
    width: 280px;
    height: 200px;
}

.footer-column h3 {
    margin-bottom: 20px;
    font-size: 14px;
}

.footer-column p {
    margin: 20px auto;
    font-size: 16px;
    opacity: .3;
}

.footer-column figure img {
    margin-right: 25px;
}